<div class="modal" tabindex="-1" role="dialog" id="loginForm">
	<div class="modal-dialog " role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><%= __('login') %></h5>
				<button type="button" class="close loginClose">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" id="loginErrors">
					<h5><%= __('Error') %></h5>
					<p><%= __('Invalid password or email') %></p>
				</div>
				<form method="POST" id="singInForm">
					<div class="form-group ">
						<div class="input-group">
							<input type="email"
							       class="form-control"
							       name="email"
							       id="email"
							       placeholder="<%= __('You@email.com') %>"
							       required
							       autofocus
							       value="client1232@gmail.com"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="password"
							       class="form-control"
							       name="password"
							       id="password"
							       placeholder="<%= __('Password') %>"
							       required
							       value="Client1232"
							/>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="loginTry"><%= __('login') %></button>
				<button type="button" class="btn btn-secondary loginClose" ><%= __('Close') %></button>
				<button class="btn btn-warning"><%= __('Forgot Your Password?') %></button>
			</div>
		</div>
	</div>
</div>
