<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>News</title>
</head>
<style>
	th, td {
		border: 1px solid #000;
		color: #000;
		text-shadow: none;
		padding: 5px;
	}
	th {
		border: none;
		font-weight: bold;
		margin-top: 5px;
	}
	table {
		background: #fff;
		width: 100%;
	}
</style>
<style type="text/css" media="screen,print">
	tr{
		page-break-inside:avoid !important;
	}
</style>
<body>
	<%= include ./parts/logo.ejs %>
	<div class="news">
		<h1>All news</h1>
		<table>
			<thead>
				<tr>
					<th>Title english</th>
					<th>Title russian</th>
					<th>Author</th>
					<th>Publish</th>
					<th>Who updated</th>
					<th>Date updated</th>
					<th>Who create</th>
					<th>Date created</th>
				</tr>
			</thead>
			<tbody>
				<% news.forEach((n) => { %>
					<tr>
						<td><%= n.title.en %></td>
						<td><%= n.title.ru %></td>
						<td><%= n.author %></td>
						<td><%= n.publish_at %></td>
						<td><%= n.updated_by %></td>
						<td><%= n.updated_at %></td>
						<td><%= n.created_by %></td>
						<td><%= n.created_at %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</body>
</html>
