<nav>
	<ul class="nav">
		<% topMenu.forEach(item => { %>
			<% if (item.subs)  { %>
				<% item.subs.forEach(sub => { %>
					<a class="nav-link <%= sub.isActive ? 'active' : '' %> <%= sub.class || '' %>" href="<%= sub.url%>"><%= __(sub.name) %></a>
				<% }) %>
			<% } else {%>
				<li class="nav-item">
					<a class="nav-link <%= item.isActive ? 'active' : '' %> <%= item.class || '' %>" href="<%= item.url%>"><%= __(item.name) %></a>
				</li>
			<% } %>
		<% }) %>
	</ul>
</nav>
