<%
	const STEEP = 2;
	currentPage = Number(currentPage);

	function calCount() {
		let calCount = 2 * STEEP + 1;

		if (calCount > countPages) {
			return countPages;
		}

		return calCount
	}

	function start() {
		let diff = currentPage - STEEP;

		if (diff <= 0) {
			return 0;
		}

		if (currentPage + STEEP >= countPages - 1) {
			return countPages - (2 * STEEP + 1);
		}

		return currentPage - STEEP;
	}

	let run = start();
	let countLi = calCount();
	let isShowExt = countPages > countLi;

 %>
<% if (countPages > 1) { %>
	<div class="row dline"></div>
	<div class="row">
			<nav>
				<ul class="pagination">

					<% if (isShowExt && currentPage - STEEP > 0) { %>
						<li class="page-item"><a class="page-link" href="<%= `${path}?page=0` %>"><<</a></li>
						<li class="page-item"><a class="page-link" href="<%= `${path}?page=${currentPage - 1}` %>"><</a></li>
					<% } %>


					<% for(let i = 1; i <= countLi; i++) { %>
						<li class="page-item <%= ((run + i -1) == currentPage ? 'active' : '') %>"><a class="page-link " href="<%= `${path}?page=${run + i -1 }` %>"><%= run + i %></a></li>
					<% } %>

					<% if (isShowExt && currentPage < countPages - 1) { %>
						<li class="page-item"><a class="page-link" href="<%= `${path}?page=${currentPage + 1}` %>">></a></li>
						<li class="page-item"><a class="page-link" href="<%= `${path}?page=${countPages - 1}` %>">>></a></li>
					<% } %>

				</ul>
			</nav>
	</div>
<% } %>
