<%= include parts/head.ejs %>
<body id="home">
<div id="wrapper">
	<%= include parts/header.ejs %>
	<section>
		<%-body %>
		<%= include parts/sidebar.ejs%>
	</section>
	<%= include parts/footer.ejs%>
</div>
</body>
</html>




